<div>
  <div class="h2 mb-5">「<%= @word %>」の検索結果</div>

  <% @games.each do |game| %>
    <div class="d-inline-flex mb-3">
      <div>
        <%= image_tag game.get_game_image, size: "200x134" %>
      </div>
      <div class="ml-2">
        <%= link_to customer_game_path(game.id) do %>
          <h5><%= game.game_name %></h5>
        <% end %>
        <%= game.game_introduction %>
      </div>
    </div>
  <% end %>

  <div class="mt-3"><%= link_to "新しくゲームタイトルを追加する", new_customer_game_path %></div>
</div>