<div class="offset-4">
  <h2 class="mb-5">管理者ログイン</h2>

  <%= form_with model: @admin, url: admin_session_path, method: :post do |f| %>
    <div class="field font-weight-bold pb-3">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-50" %>
    </div>

    <div class="field font-weight-bold pb-3">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "w-50" %>
    </div>

    <div class="actions pb-3">
      <%= f.submit "ログイン", class: "btn btn-outline-light btn-lg w-50" %>
    </div>
  <% end %>

  <%= render "admin/shared/links" %>
</div>