<div>

  <%= image_tag @game.game_image %>

  <h2 class="py-3"><%= @game.game_name %></h2>

  <div class="border-bottom border-light border-3">
  <p><%= @game.game_introduction %></p>
  </div>

  <div class="py-3">
    <div class="d-inline-flex font-weight-bold">ジャンル：<%= @game.genre.genre_name %></div>

    <div class="d-inline-flex offset-1 font-weight-bold">プラットフォーム：<%= @game.platform.platform_name %></div>

    <div class="d-inline-flex offset-1 font-weight-bold">対象年齢：<%= @game.target_age.target_age %></div>
  </div>

  <div class="d-inline-block-flex mb-5">
    <div class="d-inline-flex">
      <p>価格：¥<%= @game.price.to_s(:delimited) %></p>
    </div>

    <div class="offset-7 d-inline-flex">
      <i class="fas fa-pen"></i><%= link_to "レビューを書く", new_customer_game_review_path(@game) %>
    </div>
  </div>

  <%# レビュー %>
  <div>
    <%= render partial: 'review', collection: @reviews_latest3 %>
  </div>

</div>