<!DOCTYPE html>
<html>
  <head>
    <title>Gamix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark text-white">
    <header class="shadow mb-5">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <%= link_to root_path, class: "text-white" do %>
            <h2 class="navbar-brand"><i class="fas fa-solid fa-gamepad fa-lg"></i> Gamix</h2>
          <% end %>

          <div class="navbar search_form ml-auto">
            <%= form_with url: customer_search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word, placeholder: "ゲームタイトルを入力" %>
              <%= f.select :search, options_for_select([["部分一致","partial_match"],  ["前方一致","forward_match"],  ["後方一致","backword_match"], ["完全一致","perfect_match"]]) %>
              <%= f.button :type => "submit", style: 'border-style: none;', class: "btn btn-primary" do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          </div>


          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %><!-- customerでログインされている -->
              <li><%= link_to 'マイページ', customer_customer_path(current_customer), class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-outline-light" %></li>
            <% elsif admin_signed_in? %><!-- adminでログインされている -->
              <li><%= link_to 'ゲーム一覧', admin_games_path, class:"text-white mr-2" %></li>
              <li><%= link_to 'プラットフォーム一覧', admin_platforms_path, class:"text-white mr-2" %></li>
              <li><%= link_to 'ジャンル一覧', admin_genres_path, class:"text-white mr-2" %></li>
              <li><%= link_to '対象年齢一覧', admin_target_ages_path, class:"text-white mr-2" %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-light" %></li>
            <% else %><!-- ログインされていない -->
              <li><%= link_to 'ログイン', customer_session_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-light" %></li>
            <% end %>
          </ul>
        </div>

      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
