<!DOCTYPE html>
<html>
  <head>
    <title>Gamix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark text-white">
    <header class="shadow mb-5">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <h2 class="navbar-brand"><i class="fas fa-solid fa-gamepad fa-lg"></i> Gamix</h2>


          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %><!-- customerでログインされている -->
              <li><%#= link_to 'マイページ', customer_customer_path %></li>
              <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-outline-light" %></li>
            <% else %><!-- ログインされていない -->
              <li><%= link_to 'ログイン', customer_session_path, class: "btn btn-outline-light mr-2" %></li>
              <li><%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-light" %></li>
            <% end %>
          </ul>
        </div>

      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
